<h1 class="text-center mt-2"><%= @category.name %></h1>

<div class="row no-gutters">
  <% @articles.in_groups_of(2, false) do |group| %>
    <% group.each do |article| %>
      
    <% end %>
  <% end %>
</div>
