<section id="footer" class="sticky-bottom bg-dark footer">
  <div class="row no-gutters">
    <div class="col-md-3">
      <a class="navbar-brand ml-3 font-weight-bold text-white" href="#">People's Style</a>
    </div>
    <div class="col-md-6 d-flex align-items-center copy">
      <a class="text-orange text-orange-hover" href="#">Privacy Policy</a>
      <a class="text-orange text-orange-hover" href="#">Terms & Conditions</a>
      <span class="text-white">Copyright 2020 All rights reserved </span>
    </div>
    <div class="col-md-3 d-flex align-items-center social-icons">
      <a href='#' class="text-white ">
        <i class="fab fa-github text-orange-hover"></i>
      </a>
      <a href='#' class="text-white">
        <i class="fab fa-linkedin-in text-orange-hover"></i>
      </a>
      <a href='#' class="text-white">
        <i class="fab fa-twitter text-orange-hover"></i>
      </a>
    </div>
  </div>
</section>
